/* contact.css */

body, h1, h2, p, label, input, textarea, button {
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
}
::-webkit-scrollbar{
    display:none;
  }
  html{
    scrollbar-width: none;
  }

.contact-container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 40px 20px;
    position: relative;
    top: -135px;  /* Adjust this value to move the container up */
}

/* Hero Section */
.contact-hero {
    text-align: center;
    padding: 40px 20px;
    background-color: #1D2951;
    color: #FFFFFF;
    border-radius: 8px;
    margin-bottom: 40px;
    position: relative;
    overflow: hidden;
}

.contact-hero h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #FFFFFF;
}

.contact-hero p {
    font-size: 1.2rem;
    max-width: 800px;
    margin: 0 auto 20px;
    color: #FFFFFF;
}

.contact-hero img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 20px;
}

/* Contact Details Section */
.contact-details {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 40px;
}

.contact-info, .contact-form {
    flex: 1;
    min-width: 300px;
    background-color: #F7F7F7;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.contact-info h2, .contact-form h2 {
    font-family: 'Raleway', sans-serif;
    color: #00468B;
    font-size: 1.8rem;
    margin-bottom: 15px;
}

.contact-info p {
    font-size: 1.1rem;
    margin-bottom: 10px;
    color: #333333;
    line-height: 1.6;
}

.contact-info a {
    color: #00468B;
    text-decoration: none;
    font-weight: bold;
}

.contact-info a:hover {
    text-decoration: underline;
}

/* Contact Form Styling */
.contact-form form label {
    font-weight: bold;
    font-size: 1rem;
    color: #333333;
    display: block;
    margin-bottom: 5px;
}

.contact-form form .form-group {
    margin-bottom: 20px;
}

.contact-form form input, .contact-form form textarea {
    width: 100%;
    padding: 12px;
    margin-top: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
    color: #333333;
}

.contact-form form input:focus, .contact-form form textarea:focus {
    outline: none;
    border-color: #66B2FF;
    box-shadow: 0 0 5px rgba(102, 178, 255, 0.6);
}

.btn-submit {
    width: 100%;
    padding: 12px;
    background-color: #66B2FF;
    color: #FFFFFF;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Playfair Display', sans-serif;
    transition: background-color 0.3s;
}

.btn-submit:hover {
    background-color: #00468B;
}

/* Responsive Layout */
@media (max-width: 768px) {
    .contact-details {
        flex-direction: column;
        gap: 20px;
    }
}
