/* mgt.css */

body, h1, h3, p {
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
}
h1{
    margin-top: -50px;
}
::-webkit-scrollbar{
    display:none;
  }
  html{
    scrollbar-width: none;
  }

.nav-links a {
    color: #00468B !important; /* Ensures links inside the nav are blue */
    text-decoration: none; /* Removes underline if needed */
    font-weight:50;
}

  .nav-container ul li::after{
    content:'';
    width: 0%;
    height: 2px;
    background: #00468B;
    display: block;
    margin: auto;
    transition:0.5s
  }


.management-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
    text-align: center;
}

.management-container h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 2.5rem;
    color: #00468B;
    margin-bottom: 10px;
}

.management-container p {
    font-size: 1.2rem;
    color: #666666;
    margin-bottom: 40px;
}

.blog-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 0.5rem;
    max-width: 1000px;
    margin:auto;
}

.blog-post {
    border: 10px solid #00468B;
    border-radius: 8px;
    overflow:hidden;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
    margin-top: 0; /* Ensures no extra margin is added at the top */
}

.blog-post:hover {
    transform: scale(1.10);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
}

.blog-content {
    padding: 1rem;
    background-color: #eef3f7;
    transition: background-color 0.3s ease;
}

.blog-content h2 {
    font-size: 1.5rem;
    color: #00468B;
    transition: font-size 0.3s ease;
}


.blog-excerpt {
    margin-top: 0.5rem;
}

.blog-full-content {
    display: none;
    margin-top: 1rem;
    color: #333;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.4s ease, transform 0.4s ease;
}

.blog-post.active .blog-content h2 {
    font-size: 1.6rem;
}

.blog-post.active .blog-full-content {
    display: block;
    opacity: 1;
    transform: translateY(0);
}

/* Responsive */
@media (max-width: 768px) {
    .management-boxes {
        flex-direction: column;
        gap: 20px;
    }
}



/* Fix Footer Font Styling */
 .footer-content p {
    font-size: 16px !important; /* Adjust as needed */
    font-weight: light !important;
    color: white !important; /* Forces text to white */
}